<template>
    <router-link :to="{name: 'category_posts', params: {category: category.slug }}"> {{ category.name }}
    </router-link>
</template>

<script>
    export default {
        props: ['category']
    }
</script>
