<template>
    <div class="form-contact">
        <transition name="fade" mode="out-in">
            <!--Solo lo mostramos si la variable sent es verdadero que nos indique si ya se envio caso contrario mostramos el formulario-->
            <p v-if="sent">Tu mensaje ha sido recibido, te contactaremos pronto.</p>
        <!--Le decimos al formulario  que escuche el evento submit y que no lo ejecute con prevent
        y en en ves que escuche el metodo submit -->
            <form v-else  @submit.prevent="submit">
                <div class="input-container container-flex space-between">
                    <input v-model="form.name" placeholder="Tu nombre" class="input-name" required>
                    <input v-model="form.email" type="email" placeholder="Email" class="input-email" required>
                </div>
                <div class="input-container">
                    <input v-model="form.subject" placeholder="Asunto" class="input-subject" required>
                </div>
                <div class="input-container">
                    <textarea v-model="form.message" cols="30" rows="10" placeholder="Tu mensaje" required></textarea>
                </div>
                <div class="send-message">
                    <!--Cuando estamos enviando que queremos que deshabilite el boton Enviando si el working en verdadero-->
                    <button class="text-uppercase c-green" :disabled="working">
                        <!--Si working es verdadero -->
                       <span v-if="working">Enviando...</span>
                        <!--De lo contrario se muestra el boton Enviar mensaje-->
                        <span v-else>Enviar mensaje</span>
                    </button>
                </div>
            </form>
            <pre>{{ form }}</pre>
        </transition>

    </div>

</template>

<script>
    export default {
        data(){
            return {
                // Creamos una variable sent que significara si el formulario se ha enviado o no
                // en este caso inicialmente el formulario esta en falso por que no se ha enviado
                sent: false,
                // inicializamos la variable working en falso por no estamos enviando nada al formulario
                working: false,
                form: {
                    name: 'Geancarlo',
                    email: 'geancarloce96@email.com',
                    subject: 'Help Me',
                    message: 'Necesito ayuda por favor',
                }
            }
        },
        methods:{
            submit(){
                // cuando se ejecuta se deshabilitara el boton
                this.working = true;


                // le envio los datos a traves de axios con esa rura y le envio
                // todos el datos del form que viene del metodo data()
                axios.post('/api/messages', this.form)
                    // si el envio es correcto creamos una variabke sent que nos indique que
                    // si los datos se enviaron es por eso que declaramos de forma inicial sent como una variable
                    // que inicia el falso
                    .then(res => {
                        // sent sera verdadero por que esta indicando que se esta enviando
                        this.sent = true;
                        // cuando ya recibimos ya la respuesta del formulario la variable working sera falso
                        // para que nuevamente pueda hacer un nuevo Envio de Mensaje
                        this.working = false;
                    })
                    .catch(errors => {
                        // para que muestre el formulario
                        this.sent = false;
                        // para que habilite el boton con el mensaje Enviar Mensaje
                        this.working = false;
                    })


            }


        }
    }
</script>

<style scoped>

</style>