<template>
    <router-link
            :to="{
            name: 'posts_show', params: {
                url: post.slug
            }
        }"
    >
        <slot />
    </router-link>
</template>

<script>
    export default {
        props: ['post']
    }
</script>
