<template>
    <div >
        <header class="container-flex space-between">
            <div class="date">
                                <span class="c-gris">

                                    {{ post.published_date }} / {{ post.owner.name }}
                                </span>
            </div>
            <div class="post-category">
                                <span class="category text-capitalize">
                                    <!--<a href="{{ route('search.category', $post->category) }}">{{ $post->category->name}}</a>-->
                                    <!--En este caso le paso el nombre de la ruta que declare en routes.js y le pasamos el parametro
                                    con la variable que declare ahi misma -->
                                      <category-link :category="post.category"/>

                                </span>

            </div>
        </header>
        <h1 v-text="post.title"></h1>
        <!--La etiqueta que se necesita para mostrar el contenido de cada ruta es  <router-view> -->

        <!--http://localhost:3000/#/archivo / /home  por ejemplo se mostrar asi -->
        <div class="divider"></div>
    </div>

</template>

<script>
    export default {
        name: "PostHeader",
        // Con el metodo props recibo las variables que recibo desde el nombre de la etiqueta de vuejs en mi caso
        // <post-header></post-header>
        props : ['post']
    }
</script>

