<template>
    <section class="posts container">
        <!--si esta seteada -->
        <!-- @if (isset($title))
        <h3>{{ $title }}</h3>
        @endif-->
        <!--@forelse($posts as $post)-->
        <posts-list-item v-for="post in items" :post="post" :key="post.id" v-if="items.length"></posts-list-item>


        <!--Si es que no hay post no lo muestres-->
        <article class="post" v-else>
            <div class="content-post">
                <h1>No hay publicaciones todavía.</h1>
            </div>
        </article>
        <!--@endforelse-->
    </section><!-- fin del div.posts.container -->
</template>

<script>
    export default {
        props: ['items']
    }
</script>
