<template>
    <article  class="post">
        <!--Le pasamos un metodo con el parametro home
        para indicarle que estamos en la vista home-->
        <!--@include($post->viewType('home'))-->
        <div class="content-post">
            <!--Creo una variable llamada :post y le indico que haga referencia a la variable
            post del v-for para que interactue con este componente-->
            <post-header :post="post"></post-header>

            <p v-html="post.excerpt"></p>
            <footer class="container-flex space-between">
                <div class="read-more">
                    <!--<a href="{{ route('posts.detail', $post->slug) }}" class="text-uppercase c-green">Leer Más</a>-->
                    <!-- path: '/blog/:url',
                     name: 'posts_show',-->
                    <!--Como ves le paso nombre de la ruta y la url que viene de routes.js-->
                    <post-link class="text-uppercase c-green" :post="post">Leer más</post-link>

                </div>
                <!--@include('posts.tags')-->
                <div class="tags container-flex">

                        <span class="tag c-gris" v-for="tag in post.tags">
                            <!-- <router-link :to="{name: 'tags_posts', params: {tag: tag.slug}}">
                                #{{ tag.name }}
                            </router-link>-->
                             <tag-link :tag="tag" />
                        </span>

                        <span class="tag c-gris " v-if="! post.tags.length">
                            <a href="#">#No tiene etiquetas</a>
                        </span>
                </div>
            </footer>
        </div>
    </article>
</template>

<script>
    export default {
        props: ['post']
    }
</script>

<style scoped>

</style>