<template>
    <section class="pages container">
        <div class="page page-about">
            <h1 class="text-capitalize">about</h1>
            <cite>Aliquam rhoncus tincidunt dui ut auctor. Maecenas eget purus maximus, commodo sem et, porta nunc. Maecenas lacinia nibh in elementum sagittis.</cite>
            <div class="divider-2" style="margin: 35px 0;"></div>
            <p>Maecenas auctor, libero sit amet varius lacinia, ante orci tincidunt lorem, at posuere neque ligula eu sapien. Etiam pellentesque, leo a porta auctor, nisi magna pellentesque mauris, eu lacinia risus lectus at diam. In vel consequat orci. Integer quis tristique enim. Proin ut orci ut ex eleifend porttitor. Vestibulum cursus sodales rhoncus.</p>
            <p>Cras ac elit non massa sodales commodo. Nullam dapibus sed orci nec finibus. Sed gravida nibh at mattis mattis. Ut bibendum orci at diam pharetra viverra. Nam pellentesque varius eleifend. Integer vitae elit viverra, mollis quam et, vehicula odio.</p>
        </div>
    </section>
</template>

<script>
    export default {
        name: "About"
    }
</script>

<style scoped>

</style>