<template>
    <!--Le pasamos la vista el nombre de la etiqueta y  el patametro para que pueda interactuar con el v-for="post in posts" -->
    <paginator
            :url="`/api/categorias/${this.category}`"
            component-name="posts-list"
    />

</template>

<script>
    export default {

        props: ['category'],
        // Vamos a inicilizar los datos vacios
    }
</script>

<style scoped>

</style>

