<template>
    <section class="pages container">
        <div class="page page-contact">
            <h1 class="text-capitalize">contact us</h1>
            <p>Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
            <div class="divider-2" style="margin:25px 0;"></div>
           <contact-form></contact-form>
        </div>
    </section>
</template>

<script>
    export default {
        name: "Contact"
    }
</script>

<style scoped>

</style>