<template>
    <section class="post image-w-text container">
        <!--@include($post->viewType())-->
        <div class="content-post">
            <!--@include('posts.header')-->

            <!--Cla parte del header se repite tanto en la vista del home y en la parte show o detalle de cada post
            por decimos a creale un componente para reutilizarlo-->
            <post-header :post="post"></post-header>

            <div class="image-w-text" v-html="post.body">

            </div>

            <footer class="container-flex space-between">
                <!--@include('partials.social-links',['description' => $post->title])-->
                <!--@include('posts.tags')-->

                <social-links :description="post.title" />
                <div class="tags container-flex">
                    <span class="tag c-gris" v-for="tag in post.tags">
                        <tag-link :tag="tag" />
                    </span>

                </div>


            </footer>
            <div class="comments">
                <div class="divider"></div>
               <disqus-comments></disqus-comments>
                <!--@include('partials.disqus')-->
            </div><!-- .comments -->
        </div>
    </section>
</template>

<script>
    export default {
        props: ['url'],
        data(){
            return {
                // lo inicializo a la variable como vacio a mi objeto
                post: {
                    // de la misma manera inicializamo las relaciones tanto owner y category
                    owner:{},
                    category: {}

                }
            }
        },
        mounted(){
            axios.get(`/api/blog/${this.url}`)
                .then(res => {
                   this.post = res.data;

                })
                .catch(err => {
                    console.log(err.response.data);
                })
        }
    }
</script>
