<template>
    <!--Le pasamos la vista el nombre de la etiqueta y  el patametro para que pueda interactuar con el v-for="post in posts" -->
    <paginator
            :url="`/api/tags/${this.tag}`"
            component-name="posts-list"
    />

</template>

<script>
    export default {

        // Vamos a recibir como propiedad el tag para no depender del $route.params
        // y esta se debe de llamar igual a   path: '/tags/:tag',
        // :tag a la variable que declaramos en la ruta
        props: ['tag'],

    }
</script>

<style scoped>

</style>

